body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}
h1 {
    color: #3c763d;
    text-align: center;
    padding: 25px 0;

}

.sucesso {
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 5px;
    font-size: 1.2em;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


legend {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.2em;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="tel"],
textarea {
    width: calc(100% - 12px);
    padding: 6px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

input[type="submit"]:hover {
    background-color: #45a049;
}


.turno{
    font-size:20px;
    font-weight: bold;
}

.atvd{
    font-size:20px;
    font-weight: bold;
}

label{
    font-size: 15px;
    font-weight: bold;
}



